* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.firstPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-menu {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-menu a {
    text-decoration: none;
    color: black;
}

.right-menu button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: sans-serif;
    border-radius: 7px;
    background-color: rgb(195, 195, 195);
    font-weight: 600;
    transition: all 0.4s;
}

.right-menu button:hover {
    background-color: rgb(98, 98, 98);
    color: #fff;
}

.card {
    width: 400px;
    height: 250px;
    border: 1px solid black;
}